@font-face 
{
    font-family: 'chunkfiveroman';
    src: url('police/kit/1/chunkfive-webfont.eot');
    src: url('police/kit/1/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/kit/1/chunkfive-webfont.woff') format('woff'),
         url('police/kit/1/chunkfive-webfont.ttf') format('truetype'),
         url('police/kit/1/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	background: url('image/bg.png');
	font-family: 'Comic Sans MS', Arial, sans-serif;
	color: #181818
}

#bloc_page
{
	width: 900px;
	margin: auto;
}

section h1, footer h1, nav h1
{
	font-family: chunkfiveroman, serif;
	font-weight: normal;
	text-transform: uppercase;
}

header
{
	background: url('image/line.png') repeat-x bottom;
}

#titre_principal
{
	display: inline-block;
}

header h1
{
	font-family: ' chunkfiveroman', serif;
	font-size: 2.5em
	font-weight: normal;
}

#logo, header h1
{
	display: inline-block;
	margin-bottom: 0px;
}

header h2
{
    font-family: 'chunkfiveroman', serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
