/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************************************
******************************************************************
******************************************************************
******************************************************************
 ******************************************************************
 *************MON CSS MODIFIER!!!!!!!!!!!!!!!!!!*******************
 ******************************************************************
 ******************************************************************
 ******************************************************************
 ******************************************************************
 ******************************************************************/
 
 /* grille */
*{
  box-sizing: border-box;
}
.row{
  overflow: hidden;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.w100{
  width: 100%;
}
.w75{
  width: 75%;
}
.w66{
  width: 66.66%;
}
.w50{
  width: 50%;
}
.w33{
  width: 33.33%;
}
.w16{
  width: 16.66%;
  border: solid;
}
.w25{
  width: 25%;
}
.w66, .w50, .w33, .w25, .w16, .w75{
  float: left;
}
.w66, .w50, .w33, .w25, .w75, .w100, .w16{
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
.clearfix{
  clear: both;
  display: none;
}
 /* fin de grille*/
@font-face 
{
    font-family: 'chunkfiveroman';
    src: url('../police/kit/1/chunkfive-webfont.eot');
    src: url('../police/kit/1/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/kit/1/chunkfive-webfont.woff') format('woff'),
         url('../police/kit/1/chunkfive-webfont.ttf') format('truetype'),
         url('../police/kit/1/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	background: url('../image/bg.png');
	font-family: 'chunkfiveroman', Arial, sans-serif;
	color: #181818
}

h1{
    font-size: 2em;
    text-align: left;
}

h2{
    font-size: 1.8em;
    text-align: left;
}

h3{
    font-size: 1.5em;
    border: solid;
    text-align: center;
    margin-bottom: 20px;
    padding: 8px;
}

h4{
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 20px;
}

h5{
    font-size: 1.3em;
    margin-bottom: 20px;
}

h6{
    font-size: 1.3em;
    margin-bottom: 20px;
    text-align: center;
}

p{
    line-Height: 20pt;
}

.join{
    font-size: 1.1em;
    text-shadow: blue 1px 1px, blue -1px 1px, blue -1px -1px, blue 1px -1px;
}

footer figure img
{
	margin-top: 15px;
    margin-bottom: 15px;

}
section aside
{
	margin-left: -15px;	
}
#facebook{
    width: 50%;
    margin-top: 8%;
    margin-left: 25%;
}
#bloc_page
{
	width: 80%;
	margin: auto;
}

#titre_principal
{
	margin-top: 20px;
}


#logo
{
	display: inline-block;
	margin-bottom: 0px;
}

.lien{
    text-decoration: none;
}

nav
{
    text-align: right;
}

nav li
{
    display: inline-block;
    margin-left: 2%;
}

a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}


a:hover
{
    color: dimgray;
    text-decoration: none;
}

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 71%;
}

article p
{
    font-size: 0.8em;
    margin-bottom: 20px;
}

aside
{
    position: relative;
    width: 26%;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 1%;
    color: white;
    font-size: 0.9em;
    height: 316px;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#logo2
{
    text-align: center;
}



#commentaire, #photos, #videos
{
    display: inline-block;
    vertical-align: top;
}


#photos
{
    width: 35%;
}

#videos
{
    width: 56%;
    text-align: right;
    float: right;
}

#photos img
{
    border: 1px solid #181818;
}

#banniere
{
    margin-top: 15px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
	margin-bottom: 25px;
}

footer p{
    line-Height: 18pt;
}
footer
{
	text-align: center;
}
section>h3+article>div{
    text-align: center;
    width: 900px;
}

p+h4{
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

h4+ul{
    line-height: 20pt;
}

p>a{
    font-size: 1.2em;
    color: #181818;
    text-decoration: none;
}

form{
    text-align: center;
}

#info{
    width: 21%;
    float: right;
}

